<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Product</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link href="/css/login.css" rel="stylesheet" id="login-css">
</head>

<body>
	<header th:insert="fragments/header.html :: header"> </header>

	<div class="container my-3">
		<form action="#" th:action="${isNew}  ? @{/product/new} : @{/product/{id}(id=${product.id})}" method="post"
			th:object="${product}">
			<div class="form-group">
				<label for="nameInput">Name</label>
				<input th:field="*{name}" type="text" class="form-control" id="nameInput" aria-describedby="nameHelp"
					placeholder="Enter name">
			</div>
			<div class="form-group">
				<label for="priceInput">Price</label>
				<input th:field="*{price}" type="text" class="form-control" id="priceInput" placeholder="Price">
			</div>
			<button th:if="${isNew}" type="submit" class="btn btn-primary">Save</button>
			<button th:unless="${isNew}" type="submit" class="btn btn-primary">Update</button>
			<a th:if="${!isNew}" type="button" class="btn btn-danger"
				th:href="@{/product/{id}/remove(id=${product.id})}">Delete</a>
		</form>
	</div>
</body>

</html>