<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Login page</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link href="/css/login.css" rel="stylesheet" id="login-css">
</head>

<body>


	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div class="fadeIn first my-5">
				<img src="/resources/logo.png" id="icon" alt="Mision TIC logo" />
			</div>

			<div th:if="${param.error}">
				<p class="text-danger">Invalid username and password.</p>
			</div>
			<div th:if="${message}">
				<p class="text-success" th:text="${message}"></p>
			</div>
			<div th:if="${param.logout}">
				<p class="text-success">You have been logged out.</p>
			</div>
			<!-- Login Form -->
			<form th:action="@{/login}" method="post">
				<input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
				<input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
				<input type="submit" class="fadeIn fourth mt-3" value="Log In">
			</form>
			<a class="text-info mb-3" href="/user/signup">Sign Up</a>
		</div>
	</div>
</body>

</html>